nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: rgba(157, 136, 91, 0.751);
    gap: 45px;
}

nav h2 {
    color: white;
}

nav a {
    text-decoration: none;
    color: white;
    transform: all 0,3s;
}

nav a:hover {
    color: black;
}

nav a svg {
    margin-right: 5px;
}